/* Whole Page*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* body */
body{
    width: 100%;
    height: 100vh;
    background-image: url(img/bg4.jpg);
    background-size: cover;
}

/* Navigation Bar */
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgba(0,0,0,.2);
}

nav h1{
    text-shadow: 3px 2px 4px #f39c12;
}

.logo{
    margin-left: 20px;
    font-size: 1.5em;
    letter-spacing: 2px;
}

ul{
    list-style: none;
    display: flex;
    margin-right: 30px;
}

a{
    text-decoration: none;
    margin: 25px;
    color: white;
    font-size: 17px;
    position: relative;
}

a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid #f39c12;
    transition: 0.3s linear;
}

a:hover:before{
    width: 90%;
}

.container input{
    height: 30px;
    width: auto;
    border-radius: 25px;
    border-color: white;
    text-align: center;
    background: transparent;
    color: white;
}

.container button{
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    background: #f39c12;
    color: white;
    transition: 0.4s;
}

.container button:hover{
    background-color: transparent;
    border: 2px solid #f39c12;
}

.container .go{
    margin-right: 20px;
    border-radius: 8px;
    text-align: center;
    background: #f39c12;
    color: white;
}

.container button{
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    background: #f39c12;
    color: white;
    transition: 0.4s;
}

/* Space Between Navbar & Main Section*/
.space{
    height: 100px;
    width: 100%;
}

/* Main Section */
.main-div{
    background-color: rgba(0,0,0,.6);
    padding-top: 20px;
    padding-bottom: 20px;
}

.h-text{
    text-align: center;
}

.h-text h2{
    letter-spacing: 5px;
    font-size: 3.5em;
}

.h-text button{
    letter-spacing: 3px;
    margin: 10px;
}

.container h2, p{
    color: white;
}

/* Features Section */
.fcontainer {
    color: white;
    text-align :center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fitem {
    background-color: #f39c12;
    border: 3px solid white;
    margin: 40px;
    width: 280px;
    height: 140px;
    border-radius: 25px;
    
}

.fitem h3{
    margin-top: 20px;
    font-size: 25px;
    color: black; 
    font-weight: bold;
}

/* About Section */
.abt-text{
    text-align: center;
    color: #f39c12;
}

.abt-text h3{
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: inline-block;
    background: linear-gradient(to right, rgba(243, 156, 18, 1) 0%, rgba(0,0,0,0) 90%);
    border-radius: 25px 0px 0px 25px;
    padding: 10px;
}

.abt-hd{
    font-size: 20px;
}

/* Services Section */
.src-text{
    position: relative;
    top: 40px;
    bottom: 10px;
    text-align: center;
    color: White;
}

.src-text h3{
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: inline-block;
    background: linear-gradient(to right, rgba(243, 156, 18, 1) 0%, rgba(0,0,0,0) 90%);
    border-radius: 25px 0px 0px 25px;
    padding: 10px;

}

.img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imgoutline{
    border-radius: 25px;
    border: 4px solid #f39c12;

}

.img h2{
    text-shadow: 3px 1px 4px black;
    background-color: rgba(0,0,0,.7);
    padding: 8px;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
}

.img div{
    padding: 30px;
}



/* Footer Section */
footer{
    height: 50px;
    width: 100vw;
    background-color: rgb(30, 21, 9);
    position: relative;
    top: 20px;
    text-align: center;
}
